#login-page {
    background: 
    linear-gradient(
        #008035de,
        #ffe058bd
    ),
    url('./party.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    /* position: relative; */
}

cover-lay {
    background-color: teal;

}

.login-row{
    text-align: center;
    width: 70%;

}
.right-col{
    background-color: transparent;
    min-height: 100vh;

  
}

.form-col{
    position: relative;
    mix-blend-mode: lighten;
    min-height: 50vh;
    border-radius: 10px;
    text-align: center;
}


form-container {
    width: 40%;
}

.input{
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    margin-bottom: 0.8em;
}

action-buttons {
    display: inline;
    margin-top: 10px;
}