.top-segment-home {
  background: 
  linear-gradient(
      #ffe058a8,
      #008035b9
  ),
  url('./levi-guzman-zdSoe8za6Hs-unsplash.jpg');
  background-size: cover; ;
  /* height: 50vh; */
  justify-content: center;
  align-content: center;
  margin-bottom: 5px;
  height: 50%;
  border-radius: 30px;
}

img{
  height: 80px;
}

.mid-segment {
  height: 50vh;
  padding-top: 4px;
}

/* Layout */
.top-segment-home .content {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  height: 100%;
}

.top-segment-home h3 {
  font-size: 60px;
  font-weight: 700;
  color: azure;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.top-segment-home h4 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(7, 7, 7);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.top-segment-home ion-button {
  color: black;
}

ion-slide {
  
  box-sizing: border-box;

  width: 4px;
}

.mid-segment ion-col {
  text-align: center;
  font-weight: 700;
}

.mid-segment h2 {
  text-align: center;
  font-weight: 700;
}

.toolbar {
  display: inline;
}

/* Color */

.slides-md,
.slides-ios {
  --bullet-background: rgb(0, 0, 0);
  --bullet-background-active: #008036;
}

.button-md,
ion-button:hover {
  background-color: #ffdf58;
  color: black;
}

.top-segment-home h5 {
  margin-left: 0.5rem;
  color: azure;
  font-weight: 600;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@media screen and (max-width: 480px) {
  /* CSS  for mobile  */

  .top-segment-home {
    background: 
    linear-gradient(
        #008035b9,
        #ffe058a8
    ),
    url('./levi-guzman-zdSoe8za6Hs-unsplash.jpg');
    background-size: cover; ;
    /* height: 50vh; */
    justify-content: center;
    align-content: center;
    margin-bottom: 5px;
    height: 40vh;
  }

  .top-segment-home h4 {
    font-size: 30px;
    font-weight: 700;
    margin-left: 0.5rem;
    color: rgb(0, 0, 0);
  }

  .top-segment-home ion-button {
    color: azure;
    border-color: azure;
  }

  .top-segment-home h5 {
    margin-left: 0.5rem;
  }

  .top-segment-home {
    background-color: #008036;
    height: 40vh;
    justify-content: center;
    align-content: center;
  }
}
