#page {
    background: 
    linear-gradient(
        #008035de,
        #ffe058bd
    ),
    url('./party.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    
    /* position: relative; */
}

cover-lay {
    background-color: teal;

}

.right-col{
    background-color: transparent;
    min-height: 100vh;
}


.row{
    width: 100%;
    border: 2px sold red;
}

.form-col{
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    background-color: #649b6bbd;
    mix-blend-mode: lighten;
    min-height: 100%;
    width: 70%;
    border-radius: 10px;
    text-align: center;
}


form-container {
    width: 40%;
}

.input{
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    margin-bottom: 0.8em;
}

action-buttons {
    display: inline;
    margin-top: 10px;
}